{% extends 'base.html' %}

{% block content %}

<section class="hero">

<div class="dots"></div>

<div class="hero-content">

<h1>
Screen Smarter.<br>
Hire Better.
</h1>

<p>
AI-Powered Resume Screening &
Candidate Intelligence Platform
</p>

<div class="hero-buttons">

<a href="/create-job" class="btn-primary">
Discover opportunities </a>



</div>

</div>

<div class="floating-stats">

<div class="stat-card">
<h3>97%</h3>
<p>Matching Accuracy</p>
</div>

<div class="stat-card">
<h3>10x</h3>
<p>Faster Screening</p>
</div>

<div class="stat-card">
<h3>5000+</h3>
<p>Resumes Processed</p>
</div>

</div>

</section>

<section class="features">

<h2>Why ProfileX?</h2>

<div class="feature-grid">

<div class="feature-card">

<h3>Resume Parsing</h3>

<p>
Extract candidate data automatically.
</p>

</div>

<div class="feature-card">

<h3>AI Matching</h3>

<p>
TF-IDF + NLP powered ranking engine.
</p>

</div>

<div class="feature-card">

<h3>PDF Reports</h3>

<p>
Generate recruiter-ready reports instantly.
</p>

</div>

</div>

</section>

<section class="timeline-section">

<h2>How It Works</h2>

<div class="timeline">

<div class="step">
<div class="circle">1</div>
<p>Upload Resumes</p>
</div>

<div class="line"></div>

<div class="step">
<div class="circle">2</div>
<p>Upload Resumes</p>
</div>

<div class="line"></div>

<div class="step">
<div class="circle">3</div>
<p>AI Analysis</p>
</div>

<div class="line"></div>

<div class="step">
<div class="circle">4</div>
<p>Hire Faster</p>
</div>

</div>

</section>

{% endblock %}